# Folders
node_modules/
dist/
logs/

# Files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

#uploads_content
uploads/*

# MongoDB files
/data/db
*.log

# Anoter temporary files
*.tmp
.DS_Store
